extends components/layout

block styles

    style.
        article, p {
            line-height: 1.7;
        }

block body
    //- for content variables
    
    block vars
        - var title = "2-factor authentication"
        
            +breadcrumb([
                {name: 'Home', link: '/'},
                {name: 'Two Factor Authentication (2FA)', link: 'two-factor-authentication.html'},
            ])

    
    
    .body-content#detail
        block breadcrumbs

        .container.py-56
            .row
                .col-12.col-lg-7

                    .content.list
                        //- block detailsContent
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#what-is-it What is it?
                            p.mb-0 2FA, 2-factor authentication or 2-step verification is an extra layer of security to prove that anyone trying to gain access to an online account is who they say they are. It is an additional step beyond entering your username and password for any online account.
                        
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#why-enable-it Why should I enable it?
                            p.mb-24 Enabling 2FA on your PayPlux account comes with these benefits:
                            ol.mb-0.pl-0.ml-0
                                li Prevent unauthorised access to your Prepaid and Cash-Out Wallets
                                li Authenticate all transactions with your Prepaid Wallet
                                li Authenticate all withdrawals from your Cash-Out Wallet
                                li Authenticate transfers from your Cash-Out Wallet to your Prepaid Wallet
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-activate-it How to Activate It?
                            p.mb-0
                                | The 2FA on PayPlux works in two ways: SMS authentication or Google Authenticator. Whichever one you choose will be what you use each time you log in to PayPlux henceforth.
                                | To set up your 2FA, visit this link: 
                                a(href="https://app.payplux.com/dashboard/settings/security/" title="Login - PayPlux" target="_blank")
                                    | app.payplux.com/dashboard/settings/security
                        article.mb-72
                            h2.navy-text.text-size-24.mb-24 Activate 2FA via  Google Authenticator
                            ol.mb-0.pl-0.ml-0 
                                li Download Google Authenticator from the ​Play Store​ or ​App Store
                                li Log in to your PayPlux Account
                                li Open this link: ​
                                    a(href="https://app.payplux.com/dashboard/settings/security​" title="Login - PayPlux" target="_blank") app.payplux.com/dashboard/settings/security 
                                    | to open the Security Tab directly or visit the Settings Page and move to the Security Tab
                                li Select Google Authenticator from the options provided
                                li Scan the QR code with the Google Authenticator App and input the 6 digits displayed
                                li Your 2FA preference will be updated to Google Authenticator
                        article.mb-72
                            h2.navy-text.text-size-24.mb-24 Activate 2FA via SMS
                            ol.mb-0.pl-0.ml-0
                                li Log in to your PayPlux Account
                                li Open this link: ​
                                    a(href="https://app.payplux.com/dashboard/settings/security​" title="Login - PayPlux" target="_blank") app.payplux.com/dashboard/settings/security 
                                    | to open the Security Tab directly or visit the Settings Page and move to the Security Tab
                                li Select SMS from the options provided
                                li You will receive a verification code to your account’s default phone number
                                li Enter the code into the pop-up box to activate SMS authentication
                                li Your 2FA preference will be updated to SMS


                    //- .row
                    //-     .col-12.px-0.px-md-16
                    //-         .helpful
                    //-             .card.shadow-none.pale-grey-three-bg
                    //-                 .card-body.p-18
                    //-                     p.text-center.text-size-16.steel-text.mb-12 Did you find this article helpful?

                    //-                     .d-flex.feedback.justify-content-center
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😞
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32.mx-48 😑
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😃


                .col-12.col-lg-5.mb-lg-0
                    .row.justify-content-center.articles-and-case
                        .col-12.col-md-6.col-lg-12
                            .card.shadow-none.mb-24.pale-grey-two-bg
                                //- block sidebarContent
                                +sidebar('Two Factor Authentication (2FA)', twoFactor)
                                
                                    a.clear-blue-text.text-size-15.d-block See all articles
                            
                            .card.shadow-none.m-0.pale-grey-two-bg.d-none
                                .card-body.p-24
                                    p.mb-24.card-title.header.text-size-20.text-weight-500 Didn’t find a solution to your issue?

                                    a(href="#").btn.btn-46.clear-blue-bg.w-100.white-text.text-weight-500 Chat with a Superhero!


                                        