extends components/layout

block styles

    style.
        article, p {
            line-height: 1.7;
        }
        #detail .content i {
            position: relative;
            top: 2px;
            left: 0.7em;
        }

block body
    //- for content variables
    
    block vars
        - var title = "Automated Payments"
        
            +breadcrumb([
                {name: 'Home', link: '/'},
                {name: 'Automated Payments', link: 'automated-payments.html'},
            ])

    
    
    .body-content#detail
        block breadcrumbs

        .container.py-56
            .row
                .col-12.col-lg-7

                    .content.list
                        //- block detailsContent
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#automated-mobile-money Automated Mobile Money
                            ol.mb-0.pl-0.ml-0
                                li Dial *170# on your MTN mobile money phone
                                li Enter 1 to select Transfer Money and press Send
                                li Enter 1 to select Mobile User and press Send
                                li Login to your account on 
                                    a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                                        span app.payplux.com   
                                        i.material-icons.ml-12.text-size-16 launch 
                                li Navigate to “Wallets” from the menu
                                li Click Add Funds and enter amount
                                li Choose Automated Mobile Money Payment Method
                                li Select Preferred Network and the Verified Number
                                li Click Continue and wait for SMS prompt
                                li Complete payments to complete order

                                
                    //- .row
                    //-     .col-12.px-0.px-md-16
                    //-         .helpful
                    //-             .card.shadow-none.pale-grey-three-bg
                    //-                 .card-body.p-18
                    //-                     p.text-center.text-size-16.steel-text.mb-12 Did you find this article helpful?

                    //-                     .d-flex.feedback.justify-content-center
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😞
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32.mx-48 😑
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😃


                .col-12.col-lg-5.mb-lg-0
                    .row.justify-content-center.articles-and-case
                        .col-12.col-md-6.col-lg-12
                            .card.shadow-none.mb-24.pale-grey-two-bg
                                //- block sidebarContent
                                +sidebar('Automated Payments', automaticPayments)
                                
                                    a.clear-blue-text.text-size-15.d-block See all articles
                            
                            .card.shadow-none.m-0.pale-grey-two-bg.d-none
                                .card-body.p-24
                                    p.mb-24.card-title.header.text-size-20.text-weight-500 Didn’t find a solution to your issue?

                                    a(href="#").btn.btn-46.clear-blue-bg.w-100.white-text.text-weight-500 Chat with a Superhero!


                                        