extends detail

block vars
    - var title = "How to Buy Bitcoin"

        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Get Started', link: 'getting-started.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Getting Started', started)

block detailsContent
    -
        var tips = [
            'Click Buy & Sell from the menu',
            'Select Bitcoin from the options',
            'Enter the amount of bitcoin to buy in USD or GHS',
            'Enter bitcoin address and choose preferred “Miner’s fee”',
            'Click on “Buy Bitcoin”',
            'Choose a payment method and follow the instructions to complete payment',
            'Once payment is completed, click “Submit” to complete your buy order',
            'Your order will be confirmed and processed.',
        ]
    ol
        li Login to your account on 
            a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                span app.payplux.com   
                i.material-icons.ml-12.text-size-16 launch 
                //- i.material-icons launch

        each tip in tips
            li=tip




