extends components/layout

block seo
    meta(name="robots" content="noindex")

block body
    .body-content#case
        +breadcrumb([
            {name: 'Home', link: '/'}, 
            {name: 'My requests', link: '/requests.html'},
            {name: 'Submit a request', link: '/detail.html'}
        ])

        .container.py-48
            h1.text-size-26.text-weight-500.header.m-0 Submit a request
            
            form.normal.form(action="").mt-48
                .form-groups.row
                    .form-group.col-12.col-md-5
                        label(for="topic") Topic
                        select.form-control.dropdown(name="topic")#topic
                            option(value="" selected disabled) Choose topic
                            - 
                                var topics = [ 
                                    'Getting Started',
                                    'Wallets',
                                    'Accounts', 
                                    'Two Factor Authentication',
                                    'Manual Payments',
                                    'Automated Payments',
                                    'Mobile App'
                                ]
                            each item in topics
                                option(value=item)=item
                            //- option(value="") Kweku and Leanzer (The Love Story Unfolds)
                            //- option(value="") Larry Buntus (The Lone Wolf of the night)
                            //- option(value="") Eldad and the trip to nigeria
                            //- option(value="") Melissa and the hairstyle saga
                    .form-group.col-12.col-md-7
                        label(for="order-number") Order number
                        select.form-control.dropdown(name="order-number")#order-number
                            option(value="" disabled) Choose Order
                            option(value="" selected) #713134 - $21 Bitcoin purchase (07 Jun 19 09:42 AM)

                .form-group
                    label(for="subject") Subject
                    input(type="text" placeholder="Eg. MTN Mobile Money payment not working" name="subject")#subject.form-control

                .form-group
                    label(for="description") Description
                    textarea#description.form-control(name="description" rows="10" placeholder="Describe the issue you’re having")

                .form-group
                    .upload.position-relative
                        a(href="").text.stretched-link
                            span.clear-blue-text Add files &nbsp;
                            |  or drop files here to upload

                    .lists
                        a.list(href="")
                            span.clear-blue-text.file Screenshot 2019-01-09 at 3.21.31 PM
                            i.material-icons.icon close

                .form-group
                    button(type="submit").btn.btn-46.clear-blue-bg.white-text.w-100.text-weight-500.text-size-14 Submit request