extends detail

block vars
    - var title = "How to Change Account Password"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Account, Verification & Security', link: 'accounts.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Account, Verification & Security', account)

block detailsContent
    -
        var tips = [
            'Navigate to Settings from the Menu',
            'Navigate to Security, then Change Password section',
            'Enter your Old and New Passwords and Confirm Passwords',
            'Click Change Password',
            'Your password has been successfully changed',
        ]
    ol
        li Login to your account on 
            a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                span app.payplux.com   
                i.material-icons.ml-12.text-size-16 launch 
                //- i.material-icons launch

        each tip in tips
            li=tip

            