extends components/layout

block body
    .body-content#details
        +breadcrumb([
            {name: 'Home', link: 'index.html'}, 
            {name: 'Get Started', link: 'details.html'}
        ])

        .container-fluid.my-48
            .row.justify-content-center
                .col-12.col-lg-6.p-0
                    .card.shadow-none.m-0.pale-grey-two-bg
                        .card-body.px-0.p-md-32
                            p.text-size-26.text-weight-500.header.mb-24.ml-16.ml-md-0 Getting Started

                            .card.questions
                                .card-body.p-0
                                    each question in ['How to Sign Up', 'How to top up your Prepaid Wallet', 'Mg Shadow Computer Monitoring Software A Watchdog Protecting Your Interests']
                                        .question
                                            a(href="detail.html").text-size-16.stretched.navy-text= question
                                            i.material-icons.icon keyboard_arrow_right

                            +pagination()(class="ml-16 ml-md-0 mt-16")