extends components/layout

block body

  - 

    var articles = [ 
      {
        homeLink: 'getting-started.html',
        title: "Getting Started",
        page: started = [
          {title: 'Sign Up', link: 'signup.html'}, 
          {title: 'How to Buy Bitcoin', link: 'buybtc.html'}, 
          {title: 'How to Buy Perfect Money', link: 'buypm.html'},
          {title: "How to Sell Bitcoin", link: 'sellbtc.html'},
          {title: "How to Sell Perfect Money", link: 'sellpm.html'}
        ]
      },
      {
        homeLink: 'wallets.html',
        title: "Wallets",
        page: wallets = [
          {title: 'How to Top Up Prepaid Wallet', link: 'topup.html'}, 
          {title: 'How to Withdraw From Cash-Out Wallet', link: 'withdraw.html'}, 
          {title: 'How to Transfer from Cash-Out to Prepaid Wallet', link: 'transfer.html'}
        ]
      },
      {
        homeLink: 'accounts.html',
        title: "Account, Verification & Security",
        page: account = [
          {title: 'How to verify your ID', link: 'verify-id.html'},
          {title: 'How to Verify Phone Number', link: 'verify-phone.html'}, 
          {title: 'How to Verify Mobile Money Numbers', link: 'verify-momo.html'}, 
          {title: 'How to Change Account Password', link: 'change-password.html'},
        ]
      },
      {
        homeLink: 'two-factor-authentication.html',
        title: "2-Factor Authentication",
        page: twoFactor = [
          {title: 'What is it?', link: '2-factor-authentication.html#what-is-it', summary: '2FA, is an extra layer of security to prove that anyone trying to gain access to an online account is who they say they are.'}, 
          {title: 'Why should I enable it?', link: '2-factor-authentication.html#why-enable-it'}, 
          {title: 'How to Activate It?', link: '2-factor-authentication.html#how-to-activate-it'},
        ]
      },
      {
        homeLink: 'manualpayments.html',
        title: "Manual Payments",
        page: manualPayments = [
          {title: 'MTN Mobile Money', link: 'manual-payments.html#mtn-mobile-money'}, 
          {title: 'AirtelTigo Money', link: 'manual-payments.html#airteltigo'}, 
          {title: 'Vodafone Cash', link: 'manual-payments.html#vodafonecash'},
        ]
      },
      {
        homeLink: 'automated-payments.html',
        title: "Automated Payments",
        page: automaticPayments = [
          {title: 'Automated Mobile Money', link: 'automated-payments.html#automated-mobile-money'} 
        ]
      },
      {
        homeLink: 'mobileapp.html',
        title: "Mobile App",
        page: mobileApp = [
          {title: 'How do I verify my phone number when using the mobile app?', link: 'mobile-app.html#how-to-verify-my-phone-number-when-using-app'}, 
          {title: 'How do I add a new mobile money number for transactions?', link: 'mobile-app.html#how-to-add-new-mobile-money-number'},
          {title: 'How do I verify my email when using the mobile app?', link: 'mobile-app.html#how-to-verify-my-email'},
          {title: 'How do I change my password?', link: 'mobile-app.html#how-to-change-my-password'},
          {title: 'How do I enable second-factor authentication?', link: 'mobile-app.html#how-to-enable-2FA'},
          {title: 'How do I view my transaction history?', link: 'mobile-app.html#how-to-view-transaction-history'},
          {title: 'How do I view my buy and sell orders?', link: 'mobile-app.html#how-to-view-buy-sell-orders'},
          {title: 'Why does the PayPlux mobile app request special permissions?', link: 'mobile-app.html#why-the-payplux-app-requests-special-permissions'},
        ]
      },
      {
        homeLink: 'updates.html',
        title: "Updates",
        page: updates = [
          {title: 'BOG & Networks Increase Mobile Money Limits', link: 'momo-limits.html'}
        ]
      },
      {
        homeLink: 'test-page00.html',
        title: "Test Article",
        page: testArticles = [
          {title: "Running a test article?", link: 'test-page01.html'},
          {title: "Show text here", link: 'test-page02.html'}, 
          {title: "Want to show another text?", link: 'test-page03.html'}, 
        ]
      }
    ]

  .body-content#home
    .container
      .row 
        .col-12.col-md-6.col-lg-8
          .row.cards
            //- each header, position in ['Getting Started', 'Wallets', 'Account, Verification & Security', '2-Factor Authentication', 'Manual Payments', 'Automated Payments', 'Mobile App']
            each item, index in articles
              .col-12.col-lg-6.mb-3.mb-md-32
                .card
                  .card-body.p-24
                    .heading.mb-24
                      p.m-0.text-truncate.clear-blue-text
                        a(href=item.homeLink title= item.title).text-decoration-none.card-title.clear-blue-text.text-size-20.text-weight-500=item.title
                        //- a(href=headlinks[position] title= header).text-decoration-none.card-title.clear-blue-text.text-size-20.text-weight-500=header
                        p.card-subtitle.text-size-14.bluey-grey-text.m-0 #{item.page.length} #{item.page.length > 1 ? " articles":" article"} 
                      //- if position==0
                      //-     p.card-subtitle.text-size-14.bluey-grey-text.m-0 #{started.length} articles

                    .content
                      each anchor, index in item.page
                        if index < 3
                          a(href=anchor.link).item.mb-24.navy-text.d-block= anchor.title


        .col-12.col-md-6.col-lg-4
          .card.shadow-none.pale-grey-two-bg.support-contact.mt-16.mt-md-0
            .card-body.p-24
              .heading.mb-24
                p.m-0.card-title.text-size-500 Contact Support

              .content
                .top-section.mb-56
                  p.mb-24.info Didn't find what you were looking for in the Knowledge Base articles? Feel free to submit a case or contact our Support Service below for further help.

                  //- a(href="case.html").btn.btn-46.clear-blue-bg.white-text.text-size-16.text-weight-500.w-100 Submit a case

                .hours-section
                  p.mb-16.text-size-20.text-weight-500 Support Service Hours

                  .each-hours

                    p.mb-32.hour.slate-text.text-size-15 
                      span.text-weight-600 Moday-Sunday: 
                      | 24 hours

                    p.mb-8.text-weight-600.text-size-15.slate-text Contact Phone: 
                    p.m-0
                      a(href="tel: 233542570075").text-size-15.slate-text (+233) 54 257 0075

                .socials 
                  each social in [{icon: 'facebook', link: 'https://www.facebook.com/PayPlux/'}, {icon: 'twitter', link: 'https://twitter.com/PayPlux'}, {icon: 'instagram', link: 'https://www.instagram.com/payplux/'}]
                    a(href= social.link, target="_blank").social
                      img(src="img/icons/" + social.icon + ".svg" alt="")
