extends components/layout

block styles

    style.
        article, p {
            line-height: 1.7;
        }
        #detail .content i {
            position: relative;
            top: 2px;
            left: 0.7em;
        }

block body
    //- for content variables
    
    block vars
        - var title = "#"
        
            +breadcrumb([
                {name: 'Home', link: '/'},
                {name: 'Manual Payments', link: 'manualpayments.html'},
            ])

    
    
    .body-content#detail
        block breadcrumbs

        .container.py-56
            .row
                .col-12.col-lg-7

                    .content.list
                        //- block detailsContent
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#mtn-mobile-money MTN Mobile Money
                            ol.mb-0.pl-0.ml-0 
                                li Dial *170# on your MTN mobile money phone
                                li Enter 1 to select Transfer Money and press Send
                                li Enter 1 to select Mobile User and press Send
                                li Enter 2 to select Merchant and press Send
                                li Enter our Merchant mobile money number shown in your account and press send and repeat
                                li Enter the Amount and press Send
                                li Enter your Secret PIN after you have cross checked and press Send
                                li Get the MTN Transaction ID from the SMS message you receive from MTN.
                                li If you don’t receive the SMS message after 30 minutes, call MTN customer service to retrieve the Transaction ID
                                li Login to your account on 
                                    a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                                        span app.payplux.com   
                                        i.material-icons.ml-12.text-size-16 launch 
                                li Visit the order you created and add the payment details
                            
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#airteltigo AirtelTigo Money
                            ol.mb-0.pl-0.ml-0
                                li Dial *110# on your AirtelTigo Money phone
                                li Enter 5 to select Withdraw Cash and press Send
                                li Enter 1 to select from Agent and press Send
                                li Enter our Agent Code shown in your account and press Send
                                li Enter the Amount and press Send
                                li Enter your Secret PIN after you have cross checked and press Send
                                li Get the AirtelTigo Cash Transaction ID from the SMS message you receive from AirtelTigo
                                li If you don’t receive the SMS message after 30 minutes, call AirtelTigo Cash customer service to retrieve the Transaction ID
                                li Login to your account on 
                                    a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                                        span app.payplux.com   
                                            i.material-icons.ml-12.text-size-16 launch 
                                li Visit the order you created and add the payment details
                            
                            
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#airteltigo-new AirtelTigo Money 
                                small.text-weight-500 (New Procedure starting 16/03/2020)
                            ol.mb-0.pl-0.ml-0
                                li Dial *110# on your AirtelTigo Money phone
                                li Select option 4 “Pay Bills” and press send
                                li Select option 1 “Pay to Number/Nickname” and press send
                                li Enter Nickname “PAYPLUX” [case sensitive]. Please note nickname is case sensitive
                                li Enter Amount and press send 
                                li Enter reference for transaction
                                li Confirm payment with 4 digit PIN
                            
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#vodafonecash Vodafone Cash
                            ol.mb-0.pl-0.ml-0
                                li Dial *110# on your Vodafone cash phone
                                li Enter 2 to select Withdraw Cash and press Send
                                li Enter 1 to select From Agent Cash and press Send
                                li Enter our Till Number shown in your account and press Send
                                li Enter the Amount and press Send
                                li Enter 1 to Confirm and press Send
                                li Enter your Secret PIN and press Send
                                li Get the Vodafone Cash Transaction ID from the SMS message you receive from Vodafone.
                                li If you don’t receive the SMS message after 30 minutes, call Vodafone Cash customer service to retrieve the Transaction ID
                                li Login to your account on 
                                    a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                                            span app.payplux.com   
                                            i.material-icons.ml-12.text-size-16 launch 
                                
                                li Visit the order you created and add the payment details

                    //- .row
                    //-     .col-12.px-0.px-md-16
                    //-         .helpful
                    //-             .card.shadow-none.pale-grey-three-bg
                    //-                 .card-body.p-18
                    //-                     p.text-center.text-size-16.steel-text.mb-12 Did you find this article helpful?

                    //-                     .d-flex.feedback.justify-content-center
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😞
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32.mx-48 😑
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😃


                .col-12.col-lg-5.mb-lg-0
                    .row.justify-content-center.articles-and-case
                        .col-12.col-md-6.col-lg-12
                            .card.shadow-none.mb-24.pale-grey-two-bg
                                //- block sidebarContent
                                +sidebar('Manual Payment', manualPayments)
                                
                                    a.clear-blue-text.text-size-15.d-block See all articles
                            
                            .card.shadow-none.m-0.pale-grey-two-bg.d-none
                                .card-body.p-24
                                    p.mb-24.card-title.header.text-size-20.text-weight-500 Didn’t find a solution to your issue?

                                    a(href="#").btn.btn-46.clear-blue-bg.w-100.white-text.text-weight-500 Chat with a Superhero!


                                        