extends components/layout

block styles

    style.
        article, p {
            line-height: 1.7;
        }

block body
    //- for content variables
    
    block vars
        - var title = "Mobile  App"
        
            +breadcrumb([
                {name: 'Home', link: '/'},
                {name: 'Mobile  App', link: '#'},
            ])

    
    
    .body-content#detail
        block breadcrumbs

        .container.py-56
            .row
                .col-12.col-lg-7

                    .content.list
                        //- block detailsContent
                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-verify-my-phone-number-when-using-app How do I verify my phone number when using the mobile app?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the settings tab and click on ‘Settings’ 
                                li Under the ‘My Profile’ menu, locate the default phone number section
                                li Type in the preferred phone number to verify
                                li Click ‘Resend verification SMS’
                                li Enter the verification code received to complete the process.


                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-add-new-mobile-money-number How do I add a new mobile money number for transactions?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the settings tab and click on ‘Settings’ 
                                li From the menu, click on ‘Mobile Numbers’
                                li Click ‘Add a new mobile number’ from the menu
                                li Select the preferred network, account type and fill in the boxes with details of the mobile money number and the name on the mobile money number
                                li Upon completion, click ‘Add Number’.

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-verify-my-email How do I verify my email when using the mobile app?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the settings tab and click on ‘Settings’ 
                                li Under the ‘My Profile’ menu, navigate to the mail section 
                                li Type in the preferred email to verify 
                                li Click ‘Resend verification email’
                                li Check your inbox for the verification email

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-change-my-password How do I change my password?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the ‘Settings’ tab and click on ‘Settings’ 
                                li Click on the ’Security’ tab
                                li Locate the Change password part
                                li Fill in the necessary details and the new password as well 
                                li Click on the ‘Change Password’ button to successfully change your password 

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-enable-2FA How do I enable second-factor authentication?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the ‘Settings’ tab and click on ‘Settings’ 
                                li Click on the ’Security’ tab
                                li Navigate to “2-Factor Authentication“
                                li Enable the second-factor authentication by opting for SMS or Google Authenticator 
                                li If the option of SMS is selected, a verification code will be sent to the designated phone number  
                                li If the option of Google Authenticator is selected, a popup menu will appear with a procedure to follow. 

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-view-transaction-history How do I view my transaction history?
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate the ‘Wallets’ tab and click on ‘Wallets’ 
                                li On the right side of the menu, you can view your income and expenditure with their corresponding timelines.

                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#how-to-view-buy-sell-orders How do I view my buy and sell orders? 
                            ol.mb-0.pl-0.ml-0
                                li Once logged in, locate ‘My Orders’ tab and click on ‘My Orders’
                                li You can view your buy orders or click on ‘Sell Orders’ to view your sell orders too


                        article.mb-72
                            h1.navy-text.text-size-24.mb-24#why-the-payplux-app-requests-special-permissions Why does the PayPlux mobile app request special permissions?
                            p.mb-24 To fully experience all the features the PayPlux mobile app has to offer, it is essential to grant the app permission on your Android device. Below is a list of what permissions are requested and their purposes.
                            ol.mb-0.pl-0.ml-0
                                li SMS - This is to facilitate the mobile number verification and 2-factor authentication.
                                li Camera - The camera permission allows the QR scanner to operate with fluency 

                    //- .row
                    //-     .col-12.px-0.px-md-16
                    //-         .helpful
                    //-             .card.shadow-none.pale-grey-three-bg
                    //-                 .card-body.p-18
                    //-                     p.text-center.text-size-16.steel-text.mb-12 Did you find this article helpful?

                    //-                     .d-flex.feedback.justify-content-center
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😞
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32.mx-48 😑
                    //-                         a(href="#").d-block.text-decoration-none.text-size-32 😃


                .col-12.col-lg-5.mb-lg-0
                    .row.justify-content-center.articles-and-case
                        .col-12.col-md-6.col-lg-12
                            .card.shadow-none.mb-24.pale-grey-two-bg
                                //- block sidebarContent
                                +sidebar('Mobile App', mobileApp)
                                
                                    a.clear-blue-text.text-size-15.d-block See all articles
                            
                            .card.shadow-none.m-0.pale-grey-two-bg.d-none
                                .card-body.p-24
                                    p.mb-24.card-title.header.text-size-20.text-weight-500 Didn’t find a solution to your issue?

                                    a(href="#").btn.btn-46.clear-blue-bg.w-100.white-text.text-weight-500 Chat with a Superhero!


                                        