extends detail

block vars
    - var title = "BOG & Networks Increase Mobile Money Limits"

    +breadcrumb([
        {name: 'Home', link: '/'},
        {name: 'Updates', link: 'updates.html'},
        {name: title, link: 'momo-limits.html'}
    ])

block sidebarContent
    +sidebar('Updates', updates)

block detailsContent
    p.mb-24 The Bank of Ghana has increased the mobile wallets limit and the daily transaction limits for mobile money users in the country. This was announced in a press statement released to the public recently where the Bank stated that these new measures are necessary to make payment easier and promote “digital forms of payment” at a time when the world is fighting the coronavirus disease. 

    p.mb-5 For the same reasons, the bank has also waived all charges for mobile money transactions of up to GHS 100.  Below are the new limits presented by the Bank of Ghana.

    p.mb-24 The daily transaction limits for mobile money are increased as follows;
    .mb-5
        +table({
            title: 'Daily Transaction Limits',
            headers: ['KYC Account Type', 'Current Limit', 'New Limit'],
            body: [
                {
                    account_type: "Minimum KYC Account",
                    current_limit: "GHS 300.00",
                    new_limit: "GHS 1,000.00"
                },
                {
                    account_type: "Minimum KYC Account",
                    current_limit: "GHS 300.00",
                    new_limit: "GHS 1,000.00"
                }, 
                {
                    account_type: "Enhanced KYC Account",
                    current_limit: "GHS 5,000.00",
                    new_limit: "GHS 10,000.00"
                }
            ]
        })

    p.mb-24 The mobile money wallet limits are also increased as follows;
    .mb-5
        +table({
            title: 'Mobile Money Wallet Limits',
            headers: ['KYC Account Type', 'Current Limit', 'New Limit'],
            body: [
                {
                    account_type: "Minimum KYC Account",
                    current_limit: "GHS 1,000.00",
                    new_limit: "GHS 2,000.00"
                },
                {
                    account_type: "Minimum KYC Account",
                    current_limit: "GHS 10,000.00",
                    new_limit: "GHS 15,000.00"
                }, 
                {
                    account_type: "Enhanced KYC Account",
                    current_limit: "GHS 20,000.00",
                    new_limit: "GHS 30,000.00"
                }
            ]
        })

    p.mb-24 The revised aggregate monthly transaction limits are as follows;
    .mb-5
        +table({
            title: 'Monthly Transaction Limits',
            headers: ['KYC Account Type', 'Current Limit', 'New Limit'],
            body: [
                {
                    account_type: "Minimum KYC Account",
                    current_limit: "GHS 3,000.00",
                    new_limit: "GHS 6,000.00"
                },
                {
                    account_type: "Minimum KYC Account",
                    current_limit: "GHS 20,000.00",
                    new_limit: "No Limit"
                }, 
                {
                    account_type: "Enhanced KYC Account",
                    current_limit: "GHS 50,000.00",
                    new_limit: "No Limit"
                }
            ]
        })

    h2.mb-24 How This Affects PayPlux Services

    p.mb-24 Following the new directives by the Bank of Ghana, we at PayPlux have also made changes in our customers’ interests as follows;

    p.mb-24 We have now allowed customers to use their mobile money subscriber wallets to buy digital assets like Bitcoin, PerfectMoney, etc up to what their daily transaction limits allow (GHS 10,000 based on KYC level). 

    p.mb-24 Customers who previously could not receive more than a certain amount in their mobile money subscriber wallets can now sell more Bitcoin, PerfectMoney, etc and receive up to what their wallets limits allow (unlimited based on KYC level).

    p.mb-24 Additionally, customers who wish to buy Bitcoin, PerfectMoney, etc in bulk (above GHS 10,000) can contact our support team to use the PayPlux bulk service feature to purchase bulk amounts.

    p.mb-24 Our new transaction limits are effective for all our customers regardless of the mobile network used. This means more convenience and efficiency in payments for you when using our mobile money payment method.

    p.mb-0 Visit 
        a(href='https://payplux.com') payplux.com 
        | to transact now or contact our customer support team at 
        a(href="https://support.payplux.com") support.payplux.com 
        | for more information.