extends components/layout

block seo
    meta(name="robots" content="noindex")

block body
    .body-content#request
        +breadcrumb([
            {name: "Home", link: "/index.html"},
            {name: "Requests", link: "/requests.html"},
            {name: "#712321", link: "/request.html"}
        ])

        .container.py-48.px-0.px-md-16
            .card
                .card-body.p-0
                    .heading.py-24.px-16.px-md-24
                        p.text-size-12.text-weight-500.text-uppercase.mb-8  REQUEST ID #712321
                            span.chip.ml-8(class= "error") opened
                        h2.text-size-26.text-weight-500.m-0 MTN Mobile Money payment not working

                    form.normal.form.px-16.px-md-24(action="")
                        .content
                            .row.justify-content-center
                                .col-12.col-md-8
                                    .form-group
                                        textarea.form-control(name="", rows="5", placeholder="Your response here…")
                                    
                                    .form-group.mb-64
                                        .upload.position-relative
                                            a(href="").text.stretched-link
                                                span.clear-blue-text Add files &nbsp;
                                                |  or drop files here to upload

                                    .form-group.m-0
                                        button(type="submit").btn.btn-46.clear-blue-bg.white-text.text-size-14.text-weight-500.w-100 Submit request

                    .messages.py-36.py-md-48.px-16.px-md-24
                        .message.self
                            .message-body
                                .message-content
                                    span.time You • 14th July 2019 - 02:35 PM
                                    .content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .user-initials BA
                        
                        .message.other
                            .message-body
                                .message-content
                                    span.time You • 14th July 2019 - 02:35 PM
                                    .content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .user-initials BA


                    