extends components/layout

block seo
    meta(name="robots" content="noindex, follow")

block body
    .body-content#requests
        +breadcrumb([
            {name: "Home", link: "/index.html"},
            {name: "Requests", link: "/requests.html"}
        ])

        .container.py-48.px-0.px-md-16

            .heading.d-md-flex.align-items-center.mb-24.px-16.px-md-0
                h1.text-size-26.text-weight-500.header.m-0.text-nowrap My requests
                a.d-flex.justify-content-md-end.align-items-center.mt-16.mt-md-0.ml-md-56.clear-blue-text.text-decoration-none(href="/case.html")
                    i.material-icons.icon.text-size-18 add
                    span.d-block.ml-8.text-size-15 Submit a new request


            +requests({
                headers: ['ID', 'SUBJECT', 'TOPIC', 'CREATED', 'LAST UPDATED', 'STATUS'],
                body: [
                    {
                        id: "593567",
                        subject: "I can’t buy any cryptocurrency",
                        topic: "Purchase",
                        created: "01 Jan 19 at 4:32pm",
                        last_updated: "02 Jan 19 at 4:54pm",
                        status: "error"
                    },
                    {
                        id: "593567",
                        subject: "I can’t buy any cryptocurrency",
                        topic: "Purchase",
                        created: "01 Jan 19 at 4:32pm",
                        last_updated: "02 Jan 19 at 4:54pm",
                        status: "success"
                    }
                ]
            })
        script.
            $(document).ready(function(){
                $("td").click(function(){
                    window.location.href = '/request.html';
                });
            });