extends detail

block vars
    - var title = "How to Sell Perfect Money"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Get Started', link: 'getting-started.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Getting Started', started)

block detailsContent
        -
            var tips = [
                'Click “Buy & Sell” from the menu',
                'Select Perfect Money from the options',
                'Enter the amount of Perfect Money to sell in USD or GHS',
                'Click on Sell Perfect Money',
                'Choose preferred payment option and enter necessary details',
                'Click Pay Now to send Perfect Money',
                'Your order will be confirmed and processed',
            ]
        ol
            li Login to your account on 
                a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                    span app.payplux.com   
                    i.material-icons.ml-12.text-size-16 launch  
                    //- i.material-icons launch

            each tip in tips
                li=tip

