extends detail

block vars
    - var title = "How to Sell Bitcoin"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Get Started', link: 'getting-started.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Getting Started', started)

block detailsContent
        -
            var tips = [
                'Click on the ‘Buy & Sell’ tab',
                ' Click “Buy & Sell” from the menu',
                'Select Bitcoin from the options',
                'Enter the amount of bitcoin to sell in USD or GHS',
                'Click on Sell Bitcoin',
                'Choose preferred payment option and enter necessary details',
                'Click Submit and send bitcoin to provided address',
                'Your order will be confirmed and processed',
            ]
        ol
            li Login to your account on 
                a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                    span app.payplux.com   
                    i.material-icons.ml-12.text-size-16 launch  
                    //- i.material-icons launch

            each tip in tips
                li=tip

