extends detail

block vars
    - var title = "Sign Up"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Get Started', link: 'getting-started.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Getting Started', started)

block detailsContent
    -
        var tips = [
            'Enter details required to sign up',
            'Check email for verification code/link and verify your email account',
            'Enter phone number, check your phone for verification SMS and enter the code',
            'Once your account is verified, you can start transacting!',
        ]

    ol
        li Visit 
            a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                span app.payplux.com   
                i.material-icons.ml-12.text-size-16 launch 
                //- i.material-icons launch
        each tip in tips
            li=tip