extends components/layout

block body 
  .body-content#details
    +breadcrumb([
      {name: 'Home', link: '/'},
      {name: 'Test Articles', link: 'test-page00.html'}
    ])

    .container.my-48
      .row.justify-content-center
        .col-12.col-lg-10.col-xl-8.p-0
          .card.shadow-none.m-0.pale-grey-two-bg
            .card-body.px-0.p-md-32
              h1.text-size-26.text-weight-500.header.mb-24.ml-16.ml-md-0 Placeholder Text : some other extra content

              .card.questions
                .card-body.p-0
                  each topic in testArticles
                    .question
                      a(href= topic.link).text-size-16.stretched.navy-text= topic.title
                      i.material-icons.icon keyboard_arrow_right
