extends detail

block vars
  - var title = "Show Text Here"

    +breadcrumb([
      {name: 'Home', link: '/'},
      {name: 'Test Articles', link: 'test-page00.html'},
      {name: title, link: 'test-page02.html'}

    ])

block sidebarContent 
  +sidebar('Test Articles', testArticles)

block detailsContent 
  -
    var tips = [
      'Running a Test Article.',
      'Show Text here.',
      'Want to show another text?'
    ]
  ol
    li Login to your account on 
      a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
        span app.payplux.com   
        i.material-icons.ml-12.text-size-16 launch  
        //- i.material-icons launch
    each tip in tips
      li=tip
