extends detail

block vars
    - var title = "How to Top Up Prepaid Wallet"

        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Wallets', link: 'wallets.html'},
            {name: title, link: 'topup.html'}
        ])


block sidebarContent
    +sidebar('Wallet', wallets)

block detailsContent
    -
        var tips = [
            'Navigate to “Wallets” from the menu',
            'Click Add Funds and enter amount',
            'Choose preferred payment method and provide necessary details',
            'Your deposit will be confirmed and your prepaid wallet credited',
        ]
    ol
        li Login to your account on 
            a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                span app.payplux.com   
                i.material-icons.ml-12.text-size-16 launch  
                //- i.material-icons launch
        each tip in tips
            li=tip
