extends detail

block vars
    - var title = "How to Transfer from Cash-Out to Prepaid Wallet"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Wallets', link: 'wallets.html'},
            {name: title, link: 'withdraw.html'}
        ])

block sidebarContent
    +sidebar('Wallets', wallets)

block detailsContent
        -
            var tips = [
                'Navigate to “Wallets” from the menu',
                'Click on the Cash-Out Wallet tab',
                'Click on Transfer to Prepaid Wallet',
                'Enter amount and click Transfer',
                'Enter the SMS code sent to your phone',
                'Click Verify and Proceed to complete the transaction',
                'Your cash-out wallet will be debited and prepaid wallet credited',
            ]
        ol
            li Login to your account on 
                a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                    span app.payplux.com   
                    i.material-icons.ml-12.text-size-16 launch 
            each tip in tips
                li=tip
                

