extends components/layout

block seo
    meta(name="robots" content="noindex, follow")

block body

    block vars
        - var title = "2-factor authentication"

    .body-content#details
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Two Factor Authentication (2FA)', link: 'two-factor-authentication.html'}
        ])

        .container.my-48
            .row.justify-content-center
                .col-12.col-lg-10.col-xl-8.p-0
                    .card.shadow-none.m-0.pale-grey-two-bg
                        .card-body.px-0.p-md-32
                            h1.text-size-26.text-weight-500.header.mb-24.ml-16.ml-md-0 How to enable two factor authentication for your bitcoin account

                            .card.questions
                                .card-body.p-0
                                    each topic in twoFactor
                                        .question
                                            a(href= topic.link).text-size-16.stretched.navy-text= topic.title
                                            i.material-icons.icon keyboard_arrow_right

                            //- +pagination()(class="ml-16 ml-md-0 mt-16")
                                    
