extends detail

block vars
    - var title = "How to Verify Mobile Money Numbers"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Account, Verification & Security', link: 'accounts.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Account, Verification & Security', account)

block detailsContent
    -
        var tips = [
            'Navigate to Settings from the Menu',
            'Navigate to Mobile Money Numbers, and click on Verify Mobile Money Number',
            'Enter or Select the mobile money number to verify',
            'Click Send Code to receive the SMS with the Verification Code',
            'Enter the Verification Code and click Verify Phone Number',
            'Your mobile money number is now verified',
        ]
    ol
        li Login to your account on 
            a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                span app.payplux.com   
                i.material-icons.ml-12.text-size-16 launch 
                //- i.material-icons launch

        each tip in tips
            li=tip

            
