extends detail

block vars
    - var title = "How to verify your ID"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Account, Verification & Security', link: 'accounts.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Account, Verification & Security', account)

block detailsContent

    p.mb-36 To have your Buy and Deposit options enabled, you will need to verify your ID. Kindly follow the steps below.

    div.mb-48
        ol
            li Take a clear picture of a valid ID (These are the ONLY accepted IDs - Ghana Card, Passport and Driver's License)

            li Get a sheet of paper and write the following details on it
                ol.my-2
                    li PayPlux
                    li Date (the date on which you are submitting these requirements)
                    li Sign - your official signature

            li Hold the sheet of paper together with your ID Card and let someone take a photo of you. Be sure it’s clear as possible. Do not be bare chested. Ensure it’s a well-lit area.
            
            li After completing the steps above, kindly contact us on the livechat.


        
    div
        h2.navy-text.text-size-24.mb-24 Tips
        ul.mb-0.pl-1.ml-3
            li Read the instructions carefully and do accordingly.
            li Half sent requirements won’t be processed.
            li Do take note that verification can take up to 48 hours.
            li Click on this link to see how it is done. #[a(href="http://prnt.sc/tzes4h" rel="noopener noreferrer" target="_blank") http://prnt.sc/tzes4h]
                
