extends detail

block vars
    - var title = "How to Verify Phone Number"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Account, Verification & Security', link: 'accounts.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Account, Verification & Security', account)

block detailsContent
    -
        var tips = [
            'Navigate to Settings from the Menu',
            'Navigate to My Profile and click on Verify Phone Number or Resend Verification SMS',
            'Enter or Select the phone number you want to verify',
            'Click Send Code to receive an SMS with the Verification Code',
            'Enter the Verification Code and click Verify Phone Number',
            'Your phone number is verified now',
        ]
    ol
        li Login to your account on 
            a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                span app.payplux.com   
                i.material-icons.ml-12.text-size-16 launch 
                //- i.material-icons launch

        each tip in tips
            li=tip

            
