extends detail

block styles

    style.
        article, p {
            line-height: 1.7;
        }

block vars
    - var title = "How to Sell Bitcoin"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Two Factor Authentication (2FA)', link: 'two-factor-authentication.html'},
            {name:title, link: link}
        ])

block sidebarContent
    +sidebar('Two Factor Authentication (2FA)', twoFactor)

block detailsContent
    article.mb-72
        h1.navy-text.text-size-24.mb-24 What is it?
        p.mb-0 2FA, 2-factor authentication or 2-step verification is an extra layer of security to prove that anyone trying to gain access to an online account is who they say they are. It is an additional step beyond entering your username and password for any online account.
    
    article.mb-72
        h1.navy-text.text-size-24.mb-24 Why should I enable it?
        p.mb-24 Enabling 2FA on your PayPlux account comes with these benefits:
        ul.mb-0.pl-0.ml-3 
            li Prevent unauthorised access to your Prepaid and Cash-Out Wallets
            li Authenticate all transactions with your Prepaid Wallet
            li Authenticate all withdrawals from your Cash-Out Wallet
            li Authenticate transfers from your Cash-Out Wallet to your Prepaid Wallet
    
    h1.navy-text.text-size-24.mb-24 How to Activate It?
    p
        | The 2FA on PayPlux works in two ways: SMS authentication or Google Authenticator. Whichever one you choose will be what you use each time you log in to PayPlux henceforth.
        | To set up your 2FA, visit this link: 
        a(href="https://app.payplux.com/dashboard/settings/security/" title="Login - PayPlux" target="_blank")
            | app.payplux.com/dashboard/settings/security

