extends detail

block vars
    - var title = "How to Withdraw From Cash-Out Wallet"
    
        +breadcrumb([
            {name: 'Home', link: '/'},
            {name: 'Wallets', link: 'wallets.html'},
            {name: title, link: 'withdraw.html'}
        ])

block sidebarContent
    +sidebar('Wallets', wallets)

block detailsContent
        -
            var tips = [
                'Navigate to “Wallets” from the menu',
                'Click on the Cash-Out Wallet tab',
                'Click Withdraw Funds and enter amount',
                'Enter your mobile money details',
                'Your withdrawal will be confirmed and your mobile money account credited',
            ]
        ol
            li Login to your account on 
                a(href="https://app.payplux.com" title="Login | PayPlux" target="_blank")
                    span app.payplux.com   
                    i.material-icons.ml-12.text-size-16 launch 
            each tip in tips
                li=tip
                

