mixin breadcrumb(links)
    .pale-grey-two-bg
        .container
            ul.breadcrumb-nav
                each link, index in links
                    li.item
                        a(href= link.link, class= (index+1) == links.length ? 'active' : '').link= link.name


mixin sidebar(heading, articles)
    .card-body.p-24
        p.mb-24.card-title.header.text-size-20.text-weight-500=heading + ' Articles'

        .other-articles
            each head, key in articles
                a.slate-text.text-size-15.d-block(href=head.link, class= (articles.length - 1 == key) ? "" : "mb-24" style="line-height: 1.5")= head.title
