include pagination
include breadcrumb
include table

block variables

  - 
    var headlinks = [ 
      'getting-started.html',
      'wallets.html',
      'accounts.html', 
      'two-factor-authentication.html',
      'manualpayments.html',
      'automated-payments.html',
      'mobileapp.html'
    ]
    var started = [
      {title: 'Sign Up', link: 'signup.html'}, 
      {title: 'How to Buy Bitcoin', link: 'buybtc.html'}, 
      {title: 'How to Buy Perfect Money', link: 'buypm.html'},
      {title: "How to Sell Bitcoin", link: 'sellbtc.html'},
      {title: "How to Sell Perfect Money", link: 'sellpm.html'}
    ]
    var wallets = [
      {title: 'How to Top Up Prepaid Wallet', link: 'topup.html'}, 
      {title: 'How to Withdraw From Cash-Out Wallet', link: 'withdraw.html'}, 
      {title: 'How to Transfer from Cash-Out to Prepaid Wallet', link: 'transfer.html'}
    ]
    var account = [
      {title: 'How to verify your ID', link: 'verify-id.html'},
      {title: 'How to Verify Phone Number', link: 'verify-phone.html'}, 
      {title: 'How to Verify Mobile Money Numbers', link: 'verify-momo.html'}, 
      {title: 'How to Change Account Password', link: 'change-password.html'},
    ]
    var twoFactor = [
      {title: 'What is it?', link: '2-factor-authentication.html#what-is-it', summary: '2FA, is an extra layer of security to prove that anyone trying to gain access to an online account is who they say they are.'}, 
      {title: 'Why should I enable it?', link: '2-factor-authentication.html#why-enable-it'}, 
      {title: 'How to Activate It?', link: '2-factor-authentication.html#how-to-activate-it'},
    ]
    var manualPayments = [
      {title: 'MTN Mobile Money', link: 'manual-payments.html#mtn-mobile-money'}, 
      {title: 'AirtelTigo Money', link: 'manual-payments.html#airteltigo'}, 
      {title: 'AirtelTigo Money (New Procedure starting 16/03/2020)', link: 'manual-payments.html#airteltigo-new'}, 
      {title: 'Vodafone Cash', link: 'manual-payments.html#vodafonecash'},
    ]
    var automaticPayments = [
      {title: 'Automated Mobile Money', link: 'automated-payments.html#automated-mobile-money'} 
    ]
    var mobileApp = [
      {title: 'How do I verify my phone number when using the mobile app?', link: 'mobile-app.html#how-to-verify-my-phone-number-when-using-app'}, 
      {title: 'How do I add a new mobile money number for transactions?', link: 'mobile-app.html#how-to-add-new-mobile-money-number'},
      {title: 'How do I verify my email when using the mobile app?', link: 'mobile-app.html#how-to-verify-my-email'},
      {title: 'How do I change my password?', link: 'mobile-app.html#how-to-change-my-password'},
      {title: 'How do I enable second-factor authentication?', link: 'mobile-app.html#how-to-enable-2FA'},
      {title: 'How do I view my transaction history?', link: 'mobile-app.html#how-to-view-transaction-history'},
      {title: 'How do I view my buy and sell orders?', link: 'mobile-app.html#how-to-view-buy-sell-orders'},
      {title: 'Why does the PayPlux mobile app request special permissions?', link: 'mobile-app.html#why-the-payplux-app-requests-special-permissions'},
    ]
    var updates = [
      {title: 'BOG & Networks Increase Mobile Money Limits', link: 'momo-limits.html'}
    ]
    var testArticles = [
      {title: "Running a test article?", link: 'test-page01.html'},
      {title: "Show text here", link: 'test-page02.html'}, 
      {title: "Want to show another text?", link: 'test-page03.html'}, 
    ]
  - 
    //- for head meta data
    var head = {
      title: "PayPlux | Buy and Sell Bitcoin, Perfect Money in Ghana",
      keywords: "payplux, sell bitcoin in ghana, buy bitcoin in ghana, perfect money",
      description: "Buy, Sell & Exchange your digital currency. Get bitcoin, ethereum, litecoin & non cryptos like Ripple, Perfect Money right here in Ghana."
    }

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="keywords" content= head.keywords)
    meta(name="description" content= head.description)
    block seo
    meta(property="og:image" content="img/icons/logo.png")
    meta(property="og:description" content=head.description)
    meta(property="og:title" content=head.title)
    meta(name="theme-color" content="#ffffff")

    link(rel="icon" sizes="any" type="image/png" href="img/icons/logo.png")
    title Support - Payplux
    //- stylesheets
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Titillium+Web:400,600,700|Work+Sans:400,500,600,700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="css/support.css?v=0.0.3" rel="stylesheet")
    //- scripts
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

    block styles

  body
    //- navigation
    .navigation-container.position-relative.navy-bg
      .iconic-bg.w-100.h-100.position-absolute

      .navigation
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.py-24.py-lg-32
          .container
            a.navbrand(href="/")
              img(src="img/site/white-logo.svg" alt="")
              span Support

            button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation")
              span.icon-bar.first
              span.icon-bar.second
              span.icon-bar.third

            .collapse.navbar-collapse#nav
              ul.navbar-nav.ml-auto.align-items-center.pt-32.pt-md-0
                li.nav-item.pb-16.pb-md-0
                  a.nav-link(href="https://payplux.com").d-flex.align-items-center.px-md-0
                    i.material-icons.white-text.mr-8.text-size-18 launch 
                    span.white-text.text-size-14 Go to PayPlux.com
                li.nav-item.ml-lg-40.d-none
                  a.nav-link(href="/requests.html") My Requests

                li.nav-item.ml-lg-40.d-none
                  a.nav-link(href="") Logout
                //- li.nav-item.ml-md-16
                //-     a.nav-link.btn.btn-46.text-size-16.text-weight-500(href) Login 

        .search-container.py-12.d-none
          .container.pb-20
            form(action="" method="method")
              .form-group.with-icon.position-relative.mb-0
                input.form-control(type="search" placeholder="Search for something...")
                i.material-icons.icon search

    block body

    footer.white-bg
      .container.pt-32.pb-16.py-lg-72
        .row
          .col-12.col-lg-6.d-flex.justify-content-center.justify-content-lg-start
            .items.mb-24.mb-lg-0
              img.logo.mx-auto.mx-lg-0.d-block.mb-0(src="img/site/grey-logo.svg" alt="")
              p.m-0.steel-text.text-size-14.d-none.d-lg-block ©2019 PayPlux. All Rights Reserved.
          .col-12.col-lg-6.d-flex.justify-content-center.justify-content-lg-end
            .items
              .socials.d-flex.justify-content-center.justify-content-lg-end.mb-24.mb-lg-8
                each social, index in [{icon: 'facebook', link: 'https://www.facebook.com/PayPlux/'}, {icon: 'twitter', link: 'https://twitter.com/PayPlux'}, {icon: 'instagram', link: 'https://www.instagram.com/payplux/'}]
                  a.social.d-block(href= social.link, class= index == 0 ? "":"ml-24" target="_blank")
                    img(src="img/icons/" + social.icon + ".svg" alt="")

              .links.mb-20.mb-lg-0.d-flex.justify-content-between.d-md-block
                a.link.mx-md-16.m-lg-0(href="/") Home      
                a.link.mx-md-16.ml-lg-32.mr-lg-0(href="https://payplux.com/privacy.html") Privacy Policy     
                //- a.link.mx-md-16.ml-lg-32.mr-lg-0(href="") Terms of Use     
                //- a.link.mx-md-16.ml-lg-32.mr-lg-0(href="").d-none Blog

              p.m-0.steel-text.text-size-14.d-block.d-lg-none.text-center ©2019 PayPlux. All Rights Reserved.

    script.
      window.__lc = window.__lc || {};
      window.__lc.license = 5878381;
      (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
      })();
