mixin pagination
    ul.pagination.m-0&attributes(attributes)
        each page, index in ['1', '2', '3', '4', '···', '10']
            li.page-item(class= (index == 0? "active" : ""))
                a.page-link(href)= page