mixin requests(table)
    .card
        .table-container.card-body.p-0
            .table-header.row
                .col-12.col-md-6.p-0
                    form.normal.form.search(action="")
                        .form-group.mb-16.mb-md-0
                            select.form-control.dropdown
                                option(value="") Solved requests
                                option(value="") Pending requests

                .col-12.col-md-6.d-flex.justify-content-md-end.p-0
                    form.search
                        .input-group
                            .input-group-prepend
                                .input-group-text 
                                    i.material-icons.size-18 search
                            input.form-control(type='search', placeholder='Search...')

            .table-responsive
                table.table.m-0
                    thead
                        tr
                            each header in table.headers
                                - if (header.toLowerCase().includes("amount"))
                                    th.text-right= header
                                - else 
                                    th= header
                    tbody
                        each tr in table.body
                            tr(data-type=tr.type)
                                each td, index in tr
                                    - if(index.toLowerCase().includes("amount"))
                                        td.amount !{td}
                                    - else if (index.toLowerCase().includes("status"))
                                        td(class=index)
                                            span.chip(class= td) solved
                                    - else 
                                        td(class=index) !{td}

            .footer.row.m-0.align-items-center.p-16.p-md-24
                .col-12.col-sm-6.p-0.d-flex.justify-content-center.justify-content-md-start
                    form.normal.form.entries
                        .form-row.align-items-center
                            .col-auto
                                label.navy-text.m-0 Show
                            .col-auto
                                select.form-control.dropdown
                                    option 10
                                    option 50
                                    option 100
                            .col-auto
                                label.navy-text.m-0 entries

                .col-12.col-sm-6.p-0.d-flex.justify-content-center.justify-content-md-end
                    nav(aria-label='...')
                        +pagination()(class="mt-16 mt-md-0")

mixin table(table)
    .card.mb-24
        .table-container.card-body.p-0
            div.m-24
                p.text-weight-600.mb-0= table.title

            .table-responsive
                table.table.m-0
                    thead
                        tr
                            each header in table.headers
                                - if (header.toLowerCase().includes("amount"))
                                    th.text-right= header
                                - else 
                                    th= header
                    tbody
                        each tr in table.body
                            tr(data-type=tr.type)
                                each td, index in tr
                                    - if(index.toLowerCase().includes("amount"))
                                        td.amount !{td}
                                    - else if (index.toLowerCase().includes("status"))
                                        td(class=index)
                                            span.chip(class= td) solved
                                    - else 
                                        td(class=index) !{td}