block variables
    - 
        var questions = [
            {title: 'How to create an account', link: 'create-account.html'}, 
            {title: 'How to Log in', link: 'login.html'}, 
            {title: 'How to topup your prepaid wallet', link: 'topup.html'},
            {title: "How to buy digital currency", link: 'buy.html'},
            {title: "How to sell digital currency", link: 'sell.html'},
            {title: "How to withdraw from your cashout wallet", link: 'withdraw.html'}
        ]