#detail {
  background-color: #fff;

  .helpful {
    margin-top: 120px;

    .card {
      border-radius: 0px;
    }
  }

  .content {
    font-size: 16px;
    color: $navy;

    h1 {
      font-size: 26px;
      letter-spacing: -0.72px;
      font-weight: 500;
    }

    h2 {
      font-size: 23px;
      letter-spacing: -0.64px;
      font-weight: 500;
    }

    img {
      max-width: 100%;
    }

    li {
      margin-bottom: 24px;
      letter-spacing: -0.3px;
      line-height: 1.5;
    }
    a {
      position: relative;
    }
  }

  @media (min-width: 768px) {
    .helpful {
      .card {
        border-radius: 8px;
      }
    }
  }
  @media (max-width: 991px) {
    .articles-and-case {
      margin-top: 64px;
    }
  }

  @media (min-width: 992px) {
    .articles-and-case {
      position: sticky;
      top: 32px;
    }

    .content {
      h1 {
        font-size: 32px;
        letter-spacing: -0.86px;
      }

      h2 {
        font-size: 26px;
        letter-spacing: -0.7px;
      }
    }
  }
}
