#details {
    .header {
        letter-spacing: -0.9px;
    }


    .questions {
        border-radius: 0px;
        overflow: hidden;

        .question {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 100px;
            padding: 16px;
            border-bottom: solid 1px $very-light-blue;
            background-color: $pale-grey;
            justify-content: space-between;

            a {
                line-height: 1.56;
                text-decoration: none;
                display: block;
                width: calc(100% - 32px);
            }
        

            i{
                color: $cloudy-blue;
            }
        }
    }


    @media(min-width: 768px){
        .questions {
            border-radius: 8px;

            .question {
                padding: 16px 24px;
                background-color: #fff;
            }
        }
    }
}