#home {
  padding-top: 25px;
  padding-bottom: 25px;

  .cards {
    .card {
      min-height: 270px;
      height: 100%;

      .card-body {
        .card-title {
          margin-bottom: 2px;
        }

        .content {
          .item {
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: -0.41px;
          }
        }
      }
    }
  }

  .support-contact {
    .card-title {
      font-size: 26px;
      font-weight: 500;
      letter-spacing: -0.9px;
    }
    .info {
      line-height: 1.73;
      color: $steel;
      font-size: 15px;
      letter-spacing: -0.41px;
    }

    .hour,
    .number {
      letter-spacing: -0.41px;
    }

    .socials {
      display: flex;
      margin-top: 24px;
      padding-bottom: 8px;

      .social {
        background-color: $clear-blue;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;

        img {
          width: 16px;
          height: 16px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
    & {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .cards {
      .card {
        min-height: 280px;
      }
    }
  }
}
