#requests {
    .card {
        box-shadow: none;
        border: solid 1px $ice-blue!important;
    }


    @media(max-width: 767px){
        .card {
            border-radius: 0px;
            border-left: none!important;
            border-right: none!important;
        }
    }
}