#request {
  .card {
    border: solid 1px $very-light-blue !important;
    box-shadow: none;

    .heading {
      border-bottom: solid 1px $very-light-blue;
      background-color: $pale-grey;
    }

    .form {
      .content {
        border-bottom: solid 1px $very-light-blue;
        padding-top: 112px;
        padding-bottom: 72px;
      }
    }

    .message {
      margin-bottom: 48px;
      display: flex;

      .message-body {
        display: flex;

        .message-content {
          max-width: 680px;
          width: 100%;

          .content {
            padding: 24px;
            border-radius: 20px;
          }

          .time {
            font-size: 12px;
            color: $steel;
            letter-spacing: -0.33px;
            margin-bottom: 8px;
            display: block;
          }
        }
      }

      &.self {
        justify-content: flex-end;

        .message-body {
          .message-content {
            margin-right: 16px;

            .content {
              background-color: #e9f4ff;
              border-top-right-radius: 0px;
            }

            .time {
              text-align: right;
            }
          }
        }
      }

      &.other {
        .message-body {
          flex-direction: row-reverse;

          .message-content {
            margin-left: 16px;

            .content {
              background-color: #fcf2db;
              border-top-left-radius: 0px;
            }
          }
        }
      }

      .user-initials {
        background-color: $very-light-blue;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 22px;
        color: $steel;
      }
    }
  }

  @media (max-width: 767px) {
    .card {
      border-radius: 0px !important;
      border-left: none !important;
      border-right: none !important;

      .form {
        .content {
          padding-top: 64px;
        }
      }

      .message {
        .user-initials {
          display: none;
        }

        .message-body {
          flex-direction: row;

          .message-content {
            max-width: calc(100% - 8px);
            margin: 0px !important;

            .content {
              padding: 8px;
            }
          }
        }

        &.self {
          .message-body {
            justify-content: flex-end;
          }
        }

        &.other {
          .message-body {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
