// footer
footer {
    // logo
    .logo {
        margin-bottom: 10px!important;
    }
    // socials
    .socials {
        .social {
            img {
                height: 25px;
            }
        }
    }
}