.list {
  ol {
    padding: 0;
    counter-reset: item;
  }

  ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -1.5em;
    list-style-type: none;
    counter-increment: item;
  }

  ol > li:before {
    display: inline-block;
    width: 1em;
    padding-left: 0;
    padding-right: 1.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) " ";
  }
  ol > li:before {
    font-weight: bold;
  }
}

/*=== This is for fixing the layout misadjustment upon styling the list numbers ===*/

#detail .content i {
  position: relative;
  top: 2px;
  left: 0.7em;
}
