html,
body {
    height: 100%;
}

// body resets
body {
    font-family: $work-sans;
    letter-spacing: -0.3px;
    line-height: normal;
    -webkit-font-smoothing: antialiased; 
    background-color: $pale-grey;
    color: $navy;
    display: flex;
    flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition-delay: 9999s;
    transition-property: background-color, color;
    transition: background-color 5000s ease-in-out 0s;
}