// buttons
.btn {
	border-radius: 8px;
	padding: 0px;
}

// headers
.header {
	letter-spacing: -0.7px;
}

// navigation
.navbar {
	background-color: transparent !important;
	// brand
	.navbrand {
		display: flex;
		align-items: center;

		// logo image
		img {
			height: 35px;
		}

		// support text
		span {
			display: block;
			font-size: 20px;
			font-weight: 500;
			color: $pale-grey;
			border-left: solid 1px $pale-grey;
			padding-left: 8px;
			line-height: 36px;
			opacity: 0.5;
			margin-left: 8px;
		}
	}

	.navbar-toggler {
		border: none;
		padding: 0px;
		outline: none;
		margin-top: 5px;
		width: 21px;

		.icon-bar {
			-webkit-transition: all 0.2s;
			transition: all 0.2s;
			display: block;
			width: 21px;
			height: 2px;
			background: #fff;
			border-radius: 5px;
			margin-bottom: 4px;
			margin-left: auto;

			// /* ANIMATED X */
			&:nth-of-type(1) {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-transform-origin: 90% 10%;
				-ms-transform-origin: 90% 10%;
				transform-origin: 90% 10%;
			}

			&:nth-of-type(2) {
				opacity: 0;
				filter: alpha(opacity=0);
			}

			&:nth-of-type(3) {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform-origin: 90% 10%;
				-ms-transform-origin: 90% 10%;
				transform-origin: 90% 10%;
			}
		}

		/* ANIMATED X COLLAPSED */
		&.collapsed {
			margin-top: 0px;

			.icon-bar {
				&:nth-of-type(1) {
					-webkit-transform: rotate(0);
					-ms-transform: rotate(0);
					transform: rotate(0);
					width: 19px;
				}

				&:nth-of-type(2) {
					opacity: 1;
					filter: alpha(opacity=100);
					width: 21px;
				}

				&:nth-of-type(3) {
					-webkit-transform: rotate(0);
					-ms-transform: rotate(0);
					transform: rotate(0);
					margin-bottom: 0px;
					width: 16px;
				}
			}
		}
	}

	// nav links
	.nav-item {
		.nav-link {
			color: #fff;
			font-size: 14px;

			&:hover {
				color: #fff;
			}

			&.btn {
				border: solid 1px #fff;
				width: 120px;
				color: #fff;
			}
		}
	}
}

// search container
.search-container {
	// form group
	.form-group {
		// search icon
		.icon {
			position: absolute;
			left: 16px;
			top: 20px;
			color: #fff;
			transition: ease all 0.15s;
		}

		// input
		.form-control {
			height: 64px;
			border-radius: 3px;
			border: none;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
			background-color: #384c63;
			padding-left: 56px;
			padding-right: 56px;
			font-size: 20px;
			color: #fff;
			transition: ease all 0.25s;
			letter-spacing: -0.77px;

			// placeholder styles
			&::placeholder {
				color: $pale-grey;
				font-style: italic;
				transition: ease color 0.25s;
			}

			// on focus styles
			&:focus {
				transition: ease all 0.25s;
				background-color: #fff;
				padding-left: 16px;
				padding-right: 16px;
				color: $navy;

				// placeholder on focus
				&::placeholder {
					color: $navy;
					transition: ease color 0.25s;
				}

				// search icon on focus
				& + .icon {
					transition: ease all 0.15s;
					visibility: hidden;
				}
			}
		}
	}
}

// body content container
.body-content {
	flex: 1 0 auto;
}

// footer
footer {
	flex-shrink: 0;
	box-shadow: 0 0 4px 0 rgba($color: $shadow, $alpha: 0.06);

	// logo
	.logo {
		height: 25px;
		margin-bottom: 10px;
	}

	// socials
	.socials {
		.social {
			img {
				height: 22px;
			}
		}
	}

	// links
	.links {
		.link {
			color: $steel;
			font-size: 14px;
		}
	}
}

// cards
.card {
	box-shadow: 0 2px 6px 0 rgba($color: $shadow, $alpha: 0.13);
	border-radius: 8px;
	border: none !important;
}

// breadcrumb navigation
.breadcrumb-nav {
	height: 50px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow-y: auto;

	.item {
		display: flex;
		align-items: center;

		.link {
			font-size: 14px;
			letter-spacing: -0.47px;
			color: $navy;
			display: block;
			text-decoration: none;
			letter-spacing: -0.47px;

			&.active {
				color: $bluey-grey;
			}
		}
	}

	.item + .item::before {
		width: 24px;
		height: 24px;
		background-image: url('../img/icons/arrow_right.svg');
		background-position: right;
		background-repeat: no-repeat;
		background-size: 24px 24px;
		content: '';
		margin-left: 8px;
		margin-right: 8px;
	}
}

.pagination {
	.page-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		background: #edeef0;
		border-radius: 2px;
		border: none;
		margin-right: 8px;

		&.active {
			background: $clear-blue;

			.page-link {
				color: #fff;
			}
		}

		.page-link {
			padding: 0px;
			background: transparent;
			border: none;
			color: $slate;
			font-size: 13px;
			font-weight: bold;
			display: block;
		}
	}
}

// forms
.form {
	&.normal {
		.form-group {
			margin-bottom: 40px;
		}

		.form-control {
			min-height: 50px;
			background-color: #fff;
			border-radius: 6px;
			border: solid 1px $light-periwinkle;
			width: 100%;
			font-size: 16px;
			color: $navy;
			letter-spacing: -0.54px;
			font-weight: 500;

			&::placeholder {
				color: $bluey-grey;
				line-height: 1.63;
			}

			&:focus {
				outline: none;
				box-shadow: none;
				border: solid 1px $clear-blue;
			}
		}

		label {
			color: $bluey-grey;
			font-size: 14px;
			margin-bottom: 8px;
		}
	}

	select.dropdown {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		background-image: url('../img/icons/arrow_drop_down.svg');
		background-position: right;
		background-repeat: no-repeat;
		background-size: 34px 24px;
	}

	.lists {
		margin-top: 16px;

		.list {
			display: flex;
			align-items: center;
			text-decoration: none;

			.file {
				font-size: 14px;
				text-decoration: underline;
				display: block;
				margin-right: 5px;
			}

			.icon {
				color: $steel;
				font-size: 18px;
			}
		}
	}

	.upload {
		border: solid 1.5px $light-periwinkle;
		border-style: dashed;
		border-radius: 6px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;

		.text {
			font-size: 16px;
			color: $bluey-grey;
			margin: 0px;
			display: flex;
			align-items: center;
			text-decoration: none;

			&::before {
				content: ' ';
				display: block;
				width: 24px;
				height: 24px;
				margin-right: 8px;
				background-image: url('../img/icons/attachment.svg');
				background-repeat: no-repeat;
				background-size: 24px 24px;
			}
		}
	}
}

.iconic-bg {
	background-image: url('../img/icons/icons.png');
	background-position: center;
	opacity: 0.08;
	mix-blend-mode: overlay;
	background-size: 380px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
