.table-container {

    input,
    select {
        min-height: 38px!important;
        font-size: 14px;
    }

    .table-header{ 
        min-height: 38px;
        margin: 16px;

        form.search {
            width: 100%;
            min-width: 165px;
            max-width: 100%;

            .input-group-text {
                background: transparent;
                border: solid 1px #e0e4e8;
                border-right: none;

                i {
                    color: $bluey-grey;
                    font-size: 18px;
                }
            }

            .form-control {
                border: solid 1px #e0e4e8;

                &:active,
                &:focus {
                    outline: none!important;
                    box-shadow: none!important;
                }
            }

            input.form-control {
                border-left: none;
                padding-left: 0px;

                &::placeholder{
                    color: $bluey-grey;
                }
            }
        }
    }

    table{
        white-space: nowrap;

        thead {
            background: $pale-grey;
            height: 30px;

            tr{
                line-height: 30px;

                th {
                    color: $cloudy-blue;
                    border: none;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        tbody {
            tr {
                height: 52px;
                border-bottom: solid 1px $pale-grey-two;

                &:hover {
                    cursor: pointer;
                }

                td {
                    border-top: none;
                    font-size: 14px;
                    line-height: 52px;
                    color: $navy;

                    &.amount {
                        font-family: $titillium;
                        font-weight: 600;
                        text-align: right;
                    }

                    &.button {
                        width: 106px;
                    }

                    &.summary,
                    &.product {
                        display: flex;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        margin-top: 16px;
                        margin-right: 8px;
                    }
                }
            }
        }

        th,td {
            padding-top: 0px;
            padding-bottom: 0px;

            &:first-child{
                padding-left: 15px;
            }

            &:last-child{
                padding-right: 15px;
            }
        }
    }

    .footer {
        border-bottom: none!important;

        td {
            padding: 20px 15px;
        }
        .pagination {
            .page-item {
                margin-left: 8px;
                margin-right: 0px;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }

        .entries {
            select {
                width: 65px;
                color: $slate;
                font-weight: 600;
                border: solid 1px #e0e4e8;
                border-radius: 6px;
            }
        }
    }
}


@media(min-width: 768px) {
    .table-container {

        .table-header {
            form.search {
                max-width: 265px;
            }
        }

        table {
            th,td {
                &:first-child{
                    padding-left: 24px;
                }
    
                &:last-child{
                    padding-right: 24px;
                }
            }

            tr.footer {
                td {
                    padding: 16px 24px;
                    line-height: normal;
                }
            }
        }
    }
}
