// colors
$navy             : #061f3c;
$slate            : #516276;
$steel            : #768493;
$bluey-grey       : #9ba5b1;
$light-periwinkle : #dfe2e6;
$clear-blue       : #1c8aff;
$pale-grey        : #fafbfc;
$pale-grey-two    : #f2f3f5;
$pale-grey-three  : #f7f8fa;
$cloudy-blue      : #c0c6ce;
$shadow           : rgb(6, 31, 60);
$white            : #fff;
$very-light-blue  : #eceef1;
$very-light-pink  : #fdf1ef;
$medium-green     : #369e55;
$squash           : #eba727;
$reddish          : #da3d2a;
$turquoise-blue   : #009ec8;
$ice-blue         : #edf0f2;

$colors: () !default;

$colors: map-merge(
    (
        "navy": $navy,
        "slate": $slate,
        "steel": $steel,
        "bluey-grey": $bluey-grey,
        "light-periwinkle": $light-periwinkle,
        "clear-blue": $clear-blue,
        "pale-grey": $pale-grey,
        "pale-grey-two": $pale-grey-two,
        "pale-grey-three": $pale-grey-three,
        "cloudy-blue": $cloudy-blue,
        "shadow": $shadow,
        "white": $white,
        "very-light-blue": $very-light-blue,
        "very-light-pink": $very-light-pink,
        "medium-green": $medium-green,
        "squash": $squash,
        "reddish": $reddish,
        "turquoise-blue": $turquoise-blue,
        "ice-blue": $ice-blue
    ),
$colors);

// grids
$grids: (
    (name: "sm", grid: 0),
    (name: "md", grid: 768),
    (name: "lg", grid: 992)
);

// font weights
$weights: (
    400,
    500,
    600,
    700
);

// fonts
$titillium : 'Titillium Web', sans-serif;
$work-sans : 'Work Sans', sans-serif;
$josefin   : 'Josefin Sans', sans-serif;

$fonts: () !default;

$fonts: map-merge(
    (
        "titillium": $titillium,
        "work-sans": $work-sans,
        "josefin": $josefin
    ),
    $fonts
);